:root {
    --background: #272727;
    --plum: #FF9FE5;
    --main: #2B50AA;
    --secondary: #FFD4D4;
    --accent: #FF858D;
    --white: #F0FFF0;
    --yellow: rgb(255, 200, 0);
    --olive: #6B8E23;
}

body {
    min-height: 100vh;
    display: grid;
    background-color: var(--background);
    place-items: start;
}

main {

    display: flex;
    gap: 15px;
    justify-content: space-between;
    /* border: solid 1px white;*/
    min-width: 400px;
    padding: 25px;
    color: var(--white);
}

#form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label {
    color: var(--yellow);
}
input, select, button {
    padding: 8px;
    color: var(--white);
    background-color: var(--background);
    border: var(--white) 3px solid;
    border-radius: 4px;
    transition: all 200ms ease;
    font-family: "Roboto", sans-serif;
}

input:focus, select:focus, button:focus {
    outline: none;
    border: var(--main) 3px solid;
    border-radius: 4px;
} 

button {
    cursor: pointer;
}
button:hover {
    background-color: var(--white);
    color: #272727;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 236px;

}


.list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 400px;
}

.finished {
    text-decoration: line-through;
    background-color: var(--olive);
    opacity: 0.7;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: var(--white) solid 1px;
    accent-color: var(--main);
}
input[type="checkbox"]:checked {
    background-color: var(--main);
}

.list-item {
    position: relative;
    margin: 10px;
    padding: 2px 7px;
    min-width: 200px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    border: solid var(--white) 1px;
    border-radius: 4px;
    transition: all 200ms ease;
}
#delete {
    padding: 4px 5px;
    position: absolute;
    left: -2px;
    top: -20px;
    color: var(--accent);

}
.list-task {
    align-self: stretch;
}
.list-count {
    align-self: flex-end;
}
.list-finished {
    
}